h2 {
  font-size: 2rem; 
  color: #8a03af; 
  font-weight: bold;
  text-transform: uppercase; 
  margin-bottom: 25px; 
}

/* Centralizar a calculadora na tela */
.container {
  padding-top: 125px;
  max-width: 450px;
  margin: auto;
}

/* Melhorando a aparência do card */
.card {
  border-radius: 12px;
  border: none;
  background: #f8f9fa;
}

/* Melhorando o botão */
.btn-primary {
  letter-spacing: 1px;
  background-color: #8a03af;
  border-radius: 8px;
  font-weight: bold;
}

/* Melhorando a exibição do IMC */
.text-center h4 {
  color: #28a745;
}

.fw-bold {
  font-size: 1.2rem;
  color: #dc3545;
}

/* Ajustando a imagem */
.img-fluid {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
